<h2> Kitchen </h2>
<h3> Pending Orders</h3>
{{#each orders}}
<div class="order">
  <span class="label">
    {{this.name}}: {{this.ingredients}}
  </span>
  <span>
    <button class="complete-order" value="{{this.id}}">Complete</button>
  </span>
</div>
{{/each}}
<script type="text/javascript" src="javascripts/kitchen.js"></script>