/* MAIN LAYOUT ============================================================== */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #eaedf2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  background-color: #006600;
  color: white;
  display: flex;
}
h1 {
  margin: 0;
}
h3 {
  margin: 0;
}
#section-content {
  flex: 1;
}

/* FORM ELEMENTS ============================================================ */
label, input, select, option, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  display: block;
}
input {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background-color: #e6ffe6;
  border-radius: 3px;
  height: 2em;
}
input:focus {
  outline:none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background-color: #006600;
  border-radius: 3px;
}
button:hover {
  color: #ffffff;
  border: none;
  background-color: #004d00;
}
button:active {
  background-color: #003300;
}
.form-control {
  padding: 6px;
}
select {
  border: 0;
  background-color: #e6ffe6;
  height: 2em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
select option {
  border: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
select option:hover{
  background-color: #ffffff;
}
select:focus {
  outline: none;
}
/* CONTAINERS =============================================================== */
.container-body {
  width: 100%;
}
.container-limiting {
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.container-card {
  margin: 20px 0px;
  padding: 20px;
/*  border-bottom: 4px solid #660066;
  border-top: 4px solid #660066;*/

  border-radius: 3px;
  background-color: #ffffff;
}
.container-filter {
  display: flex;
  align-items: center;
  padding: 12px 12px;
}
.green-edging {
  border-bottom: 4px solid #006600;
  border-top: 4px solid #006600;
}
.subtext {
  color: #666666;
  font-size: .8em;
}

/* NAVIGATION =============================================================== */
.logo {
  flex: 1;
  font-size: 1.5em;
  padding: 12px 12px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.filter {
  float: right;
  width: 200px;
}

/* TODOS ==================================================================== */
.todo {
}
.finalized-todo-content {
  display: flex;
  align-items: flex-start;
}
.editing-todo-content {
  display: flex;
  align-items: flex-start;
}
.todo-description {
  flex: 1;
}
.todo-button-container {
  display: flex;
}
.todo-button {
  margin-left: 10px;
}
.create-todo {
  display: flex;
  align-items: flex-start;
}
.create-todo, .todo {
  margin: 6px 0;
}
.strikethrough {
  text-decoration: line-through;
}