<div class="two-column">
  <div id="twote-column">
    <div id="twote-creation-form">
      <form id="create-twote-form" class="twote-form input-addon" action="api/createTwote" method="POST">
        <input class="input-addon-field text-field" type="text" name="text"/>
        <button type="submit" class="input-addon-item submit-button"> > </button>
      </form>
    </div>
    <div id="twote-list">
      <div class="placeholder">
        Loading twotes
      </div>
    </div>
  </div>
  <div id="user-list">
    <div class="placeholder">
      Loading users
    </div>
  </div>
</div>
<script type="text/javascript" src="javascripts/home.js"></script>
